body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}
body header .navbar .descktop-menu {
  display: none;
}
body header .navbar #menu-button-close {
  display: none;
}
body header .open #menu-button-close {
  display: block;
}
body header .open #menu-button-open {
  display: none;
}
body main {
  margin-bottom: 40px;
}
body main .mobile-menu {
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  position: fixed;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: hsl(270deg, 9%, 17%);
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}
body main .mobile-menu a {
  margin: auto;
  margin: 0px;
  width: 80%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 19px;
  border: 2px solid transparent;
}
body main .mobile-menu a:hover {
  border: 2px solid white;
}
body main .mobile-menu svg {
  position: absolute;
  bottom: 0px;
}
body main .opened {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0;
  height: calc(100vh - 76px);
  padding-top: 35px;
}
body main .picture-description {
  background-color: hsl(256deg, 26%, 20%);
  color: rgba(255, 255, 255, 0.911);
}
body main .picture-description img {
  width: 100%;
}
body main .picture-description .description {
  position: relative;
  height: 320px;
  margin: 10px 20px;
  text-align: center;
}
body main .picture-description .description #intro-right-desktop {
  display: none;
}
body main .picture-description .description #intro-left-desktop {
  display: none;
}
body main .picture-description .description #intro-left-mobile {
  position: absolute;
  top: -65px;
  left: -15px;
}
body main .picture-description .description #intro-right-mobile {
  position: absolute;
  bottom: -190px;
  right: -15px;
}
body main .picture-description .description aside h1 {
  margin-top: 60px;
  font-size: 35px;
  margin-bottom: 0;
}
body main .picture-description .description aside p {
  text-indent: 15px;
  font-size: 14px;
}
body main .picture-description .description aside button {
  color: white;
  border: 1px solid white;
  background: transparent;
  padding: 6px 20px;
  margin: 20px 0 0 0;
}
body main .vantagens {
  padding: 10px;
}
body main .vantagens hr {
  width: 110px;
  background: rgba(255, 0, 0, 0.37);
}
body main .vantagens h1 {
  text-align: center;
  font-size: 35px;
}
body main .vantagens span {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}
body main .vantagens span p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.568);
}
body main .more-about {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 317px;
  background: hsl(256deg, 26%, 20%);
  color: white;
}
body main .more-about svg {
  position: absolute;
  top: 0;
  right: 0;
}
body main .more-about h1 {
  font-size: 35px;
  margin-top: 30px;
}
body main .more-about button {
  color: white;
  padding: 6px 20px;
  background: transparent;
  border: 1px solid white;
}
body footer {
  background: hsl(0deg, 0%, 98%);
}
body footer .logo-redes {
  padding: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 150px;
  border-bottom: 1px solid rgba(110, 108, 108, 0.274);
}
body footer .logo-redes #efeito-footer {
  position: absolute;
  top: 0;
  left: 0;
}
body footer .logo-redes .logo {
  margin: 15px;
}
body footer .logo-redes .redes {
  margin-bottom: 10px;
}
body footer .logo-redes .redes svg {
  margin-left: 10px;
}
body footer div {
  padding: 10px;
}
body footer div span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body footer div span p {
  color: rgba(0, 0, 0, 0.473);
}
body footer div span a {
  text-decoration: none;
  padding: 3px;
  color: black;
  font-size: 16px;
}

@media screen and (min-width: 400px) {
  body header .navbar {
    padding: 10px 80px;
  }
  body header .navbar .descktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header .navbar .descktop-menu a {
    color: black;
    padding: 5px 10px;
    margin-right: 15px;
    text-decoration: none;
    border: 1px solid transparent;
  }
  body header .navbar .descktop-menu a:hover {
    border: 1px solid black;
  }
  body header .navbar .menu-button {
    display: none;
  }
  body main .mobile-menu {
    display: none;
  }
  body main .picture-description {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    height: 400px;
    margin-bottom: 200px;
  }
  body main .picture-description aside {
    display: flex;
    width: 60%;
    margin-left: 50px;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }
  body main .picture-description .imagem {
    width: 90%;
    height: 100%;
    position: relative;
  }
  body main .picture-description .imagem img {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 20%;
    right: 20%;
    box-shadow: 2px 2px 3px black;
  }
  body main .picture-description .description {
    position: static;
  }
  body main .picture-description .description #intro-left-mobile {
    display: none;
  }
  body main .picture-description .description #intro-right-mobile {
    display: none;
  }
  body main .picture-description .description #intro-right-desktop {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
  }
  body main .picture-description .description #intro-left-desktop {
    display: block;
    position: absolute;
    left: -20px;
    bottom: -270px;
  }
  body main .picture-description .description aside {
    padding: 10px;
  }
  body main .picture-description .description aside h1 {
    font-size: 45px;
  }
  body main .picture-description .description aside p {
    font-size: 17px;
    text-align: center;
  }
  body main .vantagens {
    margin: 0 90px;
  }
  body main .vantagens h1 {
    margin-bottom: 50px;
    text-align: start;
  }
  body main .vantagens aside {
    display: flex;
  }
  body main .vantagens aside span {
    padding: 10px;
  }
  body main .more-about {
    margin: auto;
    height: 200px;
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  body main .more-about h1 {
    width: 350px;
  }
  body footer .logo-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  body footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
